<div class="main-layer">
  
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <img width="40" alt="Poké Ball Icon" src="assets/img/Poké_Ball_icon.svg" />

    <span>Poke Api</span>
    <div class="spacer"></div>
    <div *ngIf="favouritePokemon$ | async as pokemon" >
      <span class="star" (click)="openDialog(pokemon)">&#9733;{{pokemon.name}}</span>

     

    </div>
  </div>
  <div class="circle">°</div>

   <!--Center -->
  <div>
      <app-home></app-home>
    </div>

  <!--Bottom-->
  <div>
    
    <app-pokemon-count-letter></app-pokemon-count-letter>

  </div>
</div>
<router-outlet></router-outlet>